// COLORS
$color-light-normal-orange: #ffaa01;
$color-light-reddish-orange: #ff3d00;
$color-light-manila: #ffe9d3;

$color-dark-orange: #391704;
$color-dark-burnished: #461709;

// FONTS
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@700;800&family=Barlow:wght@500&family=Saira+Semi+Condensed:wght@500;800&family=Saira:wght@600&display=swap');

$font-title: 'Saira', sans-serif;
$font-title-condensed: 'Saira Semi Condensed', sans-serif;
$font-body: 'Barlow', sans-serif;
$font-body-condensed: 'Barlow Semi Condensed', sans-serif;

// BASIC

body,
div,
p,
h1,
h2,
h3,
h4,
h5,
h6,
span {
    font-family: $font-body;
    color: $color-light-manila;
}

p {
    line-height: 1.7rem;
    font-size: 1rem;
    color: $color-light-manila;
}

p,
span {
    &.bold {
        font-weight: 800;
    }

    &.highlight-orange {
        color: $color-light-normal-orange;
    }

    &.highlight-reddish-orange {
        color: $color-light-reddish-orange;
    }
}

// HEADER
.sunset-header {
    display: none;
    background-color: black;
    position: relative;
    z-index: 150;

    p,
    span,
    a {
        color: white;
    }
}

.sunset-nav-bar {
    height: 80px;
    width: 100%;
    background: black;
    position: relative;
    z-index: 200;
    padding: 6px;

    display: flex;
    flex-direction: row;

    .navbar-wrap {
        height: 100%;
        padding: 3px;

        >div {
            background: black;
            color: white;
            height: 100%;
            padding: 5px;

            display: flex;
            align-items: center;
        }
    }

    .main-segment-wrap {
        background: linear-gradient(to right, #ffaa01, #ff510c);
        flex: 1;

        .main-segment {
            .main-segment-stipple {
                background: red;
                height: 100%;

                &.left {
                    width: 10%;
                }

                &.right {
                    flex: 1;
                }
            }

            .main-segment-title {
                padding: 0 50px 0 50px;
            }
        }
    }

    .links-segment-wrap {
        background: #ff510c;

        .links-segment {
            padding: 0 30px 0 30px;

            ul {
                list-style: none;
                display: flex;
                flex-direction: row;

                li {
                    padding: 0 20px 0 20px;
                }
            }
        }
    }

    .socials-segment-wrap {
        background: #ff510c;

        .socials-segment {
            padding: 0 20px 0 20px;

            ul {
                list-style: none;
                display: flex;
                flex-direction: row;

                li {
                    padding: 0 10px 0 10px;
                }
            }
        }
    }

}

// HOME PAGE DESIGN
.home-block {
    .home-parallax-banner {
        height: calc(100vh - 90px - 10vh);
        position: relative;
        z-index: 100;

        >div {
            position: absolute;
            height: 100%;
            width: 100%;
        }

        .background {
            background-image: url('./assets/img/sunset/hero-background.png');
            background-size: cover;
            //background-position: center;
            background-position: 50% 0px;
            z-index: 100;
            height: 110%;
            top: -50px;

            // When background too big, fix it to maximum size
            @media (min-width: 1920px) {
                background-size: cover;
                background-position: 50% 0px;
                top: -200px;
            }
        }

        .subject-main {
            z-index: 120;
            background-image: url('./assets/img/sunset/hero-subject-main.png');
            background-size: cover;
            background-position: 50% 100%;
            background-repeat: no-repeat;

            // When background too big, fix it to maximum size
            @media (min-width: 1920px) {
                background-size: 80%;
            }
        }

        .side-tall {
            position: absolute;
            height: 100%;
            width: 100%;
            z-index: 110;

            @media (max-width: 1200px) {
                display: none;
            }

            &::before {
                display: block;
                content: "";
                position: absolute;
                height: 100%;
                width: 100%;

                background-image: url('./assets/img/sunset/hero-side-tall.png');
                background-size: cover;
                background-position: bottom left;
                background-repeat: no-repeat;

                @media (min-width: 1920px) {
                    background-size: 80%;
                }
            }


            &.right {
                &::before {
                    transform: scaleX(-1);
                    //background-position: bottom left;

                }
            }
        }

        .hero-transition {
            z-index: 130;
            background-image: url('./assets/img/sunset/hero-transition.png');
            background-size: cover;
            background-position: bottom center;
            background-repeat: no-repeat;
        }

    }

    .home-content {
        background-color: black;
        position: relative;
        z-index: 200;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .home-intro-block {
            display: flex;
            justify-content: center;
            padding: 0 20px 0 20px;

            >div {
                margin-top: -100px;
                width: 100%;
                max-width: 800px;
            }

            .buttons-row {
                display: flex;
                flex-direction: row;
                align-items: center;
                margin-top: 50px;
                margin-bottom: 10px;

                >div,
                >button {
                    margin-left: 10px;
                    margin-right: 10px;

                    &:first-child {
                        margin-left: 0;
                    }

                    &:last-child {
                        margin-right: 0;
                    }
                }

                .continue {
                    white-space: pre;
                    display: inline-block;
                    width: max-content;
                    background-color: rgba($color-dark-burnished, 0.9);
                    padding: 20px;
                }
            }

        }
    }
}

// PILLAR CONTENT BLOCK
.pillar-intro {
    .pillar-background {
        position: absolute;
        max-height: 100vh;
        pointer-events: none;

        top: 0;
        bottom: 0;
        left: 0;
        right: 0;

        background-image: url('./assets/img/sunset/bigplane-dithered-bg.png');
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;
    }

    .images-wrapper {
        display: flex;
        flex-direction: row;
        margin-right: 10px;
        margin-top: 20px;

        .dialog-wrap {
            flex: 1;
            margin-right: 20px;
            align-items: stretch;

            &:last-child {
                margin-right: 0px;
            }

            .dialog-wrap-slot {
                height: 100%;

                .dialog-content {
                    padding: 0;
                    height: 100%;

                    >div,
                    img {
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }
        }
    }
}

.pillar-passage {
    .pillar-wrapper {
        display: flex;
        flex-direction: row;

        .side-header {
            border: 3px solid $color-light-reddish-orange;
            width: 85px;
            position: relative;

            .diagonal-rotate-wrapper {
                position: absolute;
                left: 9px;
                top: -11px;

                .diagonal-lines {
                    transform: translateX(-50%) rotate(-90deg) translateX(-50%);
                }
            }

            span {
                position: absolute;
                display: block;
                writing-mode: vertical-rl;
                transform: rotate(180deg);
                bottom: 10px;
                left: 4px;

                font-family: $font-body-condensed;
                text-transform: uppercase;
                color: $color-light-reddish-orange;
                letter-spacing: 0.1rem;
                font-size: 0.9rem;
                font-weight: 800;
            }
        }

        .main-content-container {
            margin-left: 5px;
            display: flex;
            flex-direction: column;

            .main-header {
                border: 3px solid $color-light-normal-orange;

                h2,
                h3 {
                    padding: 30px 30px 30px 40px;
                    font-family: $font-title;
                    font-size: 2.2rem;
                    letter-spacing: -0.08rem;
                    color: $color-light-normal-orange;
                }
            }

            .main-content {
                padding: 45px 30px 30px 45px;

                p {
                    margin-bottom: 20px;
                }
            }
        }
    }
}

.side-lights-wrapper {
    width: 100%;
    position: relative;

    display: flex;
    justify-content: space-between;
    align-items: stretch;

    .side-lights-content {
        max-width: 100%;
        width: 1300px;
        margin: 250px 0 250px 0;
    }
}

// SIDE LIGHTS BAR
.side-lights-bar {
    position: relative;
    margin: 0 50px 0 50px;

    .light-column {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        transform: translateX(-50%);

        .light-item {
            width: 30px;
            height: 9px;
            background-color: $color-light-normal-orange;
            margin-bottom: 3px;

            &.light-orange {
                background-color: $color-light-normal-orange;
            }

            &.dark-orange {
                background-color: $color-light-reddish-orange;
            }
        }


    }

    .code-text {
        position: absolute;
        transform: translateX(-50%) rotate(-90deg);

        span {
            font-family: $font-body-condensed;
            letter-spacing: 0.1rem;
            font-size: 0.9rem;
            font-weight: 900;

            text-transform: uppercase;
            white-space: nowrap;
        }

        &.dark-orange span {
            color: $color-light-reddish-orange;
        }
    }
}

// DIALOG WRAP
$dialog-wrap-border-width: 3px;
$dialog-wrap-distance: 10px;
$dialog-wrap-distance-hover: 4px;

.dialog-wrap {
    position: relative;
    width: calc(100% - $dialog-wrap-distance);

    &.hover:hover {
        .dialog-wrap-slot {
            left: $dialog-wrap-distance-hover;
            top: $dialog-wrap-distance-hover;
        }

        .right {
            width: $dialog-wrap-distance-hover;
        }

        .bottom {
            height: $dialog-wrap-distance-hover;
        }
    }

    .dialog-wrap-slot {
        position: relative;
        border: $dialog-wrap-border-width solid $color-light-reddish-orange;
        left: 0px;
        top: 0px;

        background-color: rgba($color-dark-orange, 0.5);

        .dialog-content {
            padding: 0 40px 20px 40px;

            h1 {
                text-align: center;
                font-size: 2rem;
                margin: 20px 0 20px 0;
                text-transform: uppercase;
                color: $color-light-normal-orange;
            }

            p {
                margin-bottom: 20px;
            }
        }
    }

    .border {
        position: absolute;
        border: $dialog-wrap-border-width solid $color-light-reddish-orange;

        &.right {
            right: -$dialog-wrap-distance;
            bottom: -$dialog-wrap-distance;
            top: $dialog-wrap-distance;
            width: $dialog-wrap-distance;
            border-left: none;
        }

        &.bottom {
            right: -$dialog-wrap-distance;
            bottom: -$dialog-wrap-distance;
            left: $dialog-wrap-distance;
            height: $dialog-wrap-distance;
            border-top: none;
        }
    }

    &.light-dark-orange {

        .dialog-wrap-slot,
        .border {
            border-color: $color-light-normal-orange;
        }

        .dialog-wrap-slot {
            background-color: rgba($color-dark-burnished, 0.5);
        }

        .dialog-content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 100px;
        }

        h2 {
            font-family: $font-title;
            color: $color-light-normal-orange;
            font-size: 3.2rem;
            text-align: center;

            margin-bottom: 20px;
            letter-spacing: -0.1rem;
        }

        p {
            text-align: center;
            font-size: 1.2rem;
            line-height: 2.5rem;
            width: 1000px;
            max-width: 90%;
            padding-bottom: 50px;
        }

        .flavor-container {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;

            div {
                font-family: $font-body-condensed;
                font-size: 0.9rem;
                letter-spacing: 0.1rem;
                color: $color-light-normal-orange;
                text-transform: uppercase;
            }
        }
    }
}

.macintosh-header {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 5px;

    .macintosh-header-title {
        text-transform: uppercase;
        margin: 0 10px 0 10px;

        span {
            font-family: $font-title-condensed;
            font-size: 1.1rem;
            color: $color-light-reddish-orange;
            font-weight: 800;
        }
    }

    .macintosh-header-lines {
        display: flex;
        flex-direction: column;
        flex: 1;
        margin: 0 10px 0 10px;

        .line {
            height: 2px;
            width: 100%;
            border-radius: 2px;
            background: $color-light-reddish-orange;
            margin: 1.5px 0 1.5px 0;
        }
    }

    .macintosh-header-close {
        height: 20px;
        width: 20px;
        border: 3px solid $color-light-reddish-orange;
        margin-right: 8px;

        &:hover {
            background: $color-light-reddish-orange;
            cursor: pointer;
        }
    }
}

.caution-diagonal-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    position: absolute;
    bottom: calc(100% + 10px);
    left: -3px;
    right: -3px;
    padding: 5px;

    border: 3px solid $color-light-reddish-orange;
}

.diagonal-lines-container {
    .diagonal-lines {
        display: flex;
        flex-direction: row;
        margin-left: 5px;

        .line {
            transform: rotate(45deg);
            background-color: $color-light-reddish-orange;
            height: 25px;
            width: 3px;
            border-radius: 50px;
            margin-right: 7px;

            &.first {
                height: 10px;
                margin-right: 3px;
                margin-top: 3px;
            }

            &.last {
                height: 10px;
                margin-left: -5px;
                margin-top: 13px;
            }
        }
    }

    .header-title {
        font-family: $font-title-condensed;
        text-transform: uppercase;
        font-weight: 700;
        letter-spacing: 2px;

        span {
            color: $color-light-reddish-orange;
        }
    }
}

// BUTTONS
$sunset-botton-travel-distance: 5px;

.sunset-button {
    border: none;
    padding: 20px 20px 20px 20px;
    width: 100%;
    background: none;
    position: relative;

    .main-border {
        position: absolute;
        top: -$sunset-botton-travel-distance;
        left: -$sunset-botton-travel-distance;
        width: 100%;
        height: 100%;
        border: 3px solid $color-light-normal-orange;

        transition: 0.1s ease-in-out;
    }

    .background {
        position: absolute;
        right: -$sunset-botton-travel-distance;
        bottom: -$sunset-botton-travel-distance;
        height: 100%;
        width: 100%;
        background-color: rgba($color-dark-burnished, 0.9);
        transition: 0.1s ease-in-out;
    }

    span {
        position: relative;
        color: $color-light-normal-orange;
        font-family: $font-title-condensed;
        text-transform: uppercase;
        font-size: 1.2rem;
    }

    &:hover,
    &:focus {
        .main-border {
            top: 0;
            left: 0;
        }

        .background {
            bottom: 0;
            right: 0;
        }

    }
}